.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
  }
  
  .flexbox-item1 {
    min-height: 100px;
  }
  
  .flexbox-item2 {
    min-height: 200px;
  }
  
  .flexbox-item3 {
    min-height: 300px;
  }
  
  .flexbox-item4 {
    min-height: 400px;
  }