#body {
    background-color: whitesmoke;
}

#titlesContainer {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
 
}

#title {
    text-align: center;
    font-size:42pt;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    

}

.flex-container {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
 
}


.flex-container > div {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
 
}

.lil-flex {
    flex-direction: column;
}






